/*!****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/admin/styles/admin.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************/
.vc_element-icon.icon-bkb-tab-vc-addon {
  background-image: url(../images/icon-bkb-tab-vc-addon.7ee9d2ee.png) !important;
  background-position: 0 0 !important;
}

.vc_element-icon.icon-bkb-cat-vc-addon {
  background-image: url(../images/icon-bkb-cat-vc-addon.56d545f7.png) !important;
}

.vc_element-icon.icon-bkb-tags-vc-addon {
  background-image: url(../images/icon-bkb-tags-vc-addon.9bc3d9a0.png) !important;
}

.vc_element-icon.icon-bkb-search-vc-addon {
  background-image: url(../images/icon-bkb-search-vc-addon.70912d2a.png) !important;
}

.vc_element-icon.icon-bkb-form-vc-addon {
  background-image: url(../images/icon-bkb-form-vc-addon.37b15464.png) !important;
}

.vc_element-icon.icon-bkb-counter-vc-addon {
  background-image: url(../images/icon-bkb-counter-vc-addon.a8c3e667.png) !important;
  background-position: 0 0 !important;
}

.vc_element-icon.icon-bkb-posts-vc-addon {
  background-image: url(../images/icon-bkb-posts-vc-addon.e1184f3e.png) !important;
  background-position: 0 0 !important;
}

.vc_element-icon.icon-bkb-btn-vc-addon {
  background-image: url(../images/icon-bkb-btn-vc-addon.03f9caa8.png) !important;
  background-position: 0 0 !important;
}

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  z-index: 100000 !important;
}

.vc_admin_label label {
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  color: #555;
}

.bkb_connected li {
  background: #f6f6f6 none repeat scroll 0 0;
  border: 1px solid #ccc;
  color: #2c2c2c;
  cursor: move;
  font-family: inherit;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  list-style: outside none none;
  margin: 5px;
  padding: 5px;
}

#bkb_connected {
  width: 100%;
  overflow: hidden;
  margin: auto;
  clear: both;
}

.bkb_connected {
  float: left;
  width: 48%;
  border: 1px solid #EEEEEE;
  min-height: 250px;
  height: 250px;
  overflow-y: scroll;
}

.bkb_connected.bkb_cat,
.bkb_connected.bkb_tags {
  float: right;
  background: #fffff4;
  border: 1px solid #CCC;
}

.bkb_connected.bkb_cat li,
.bkb_connected.bkb_tags li {
  background: #FFF;
}

li.sortable-placeholder {
  border: 1px dashed #CCC;
  background: none;
}

.bkb_tabs {
  width: 99%;
  min-height: 150px;
  height: 150px;
  overflow-y: auto;
}

.bkb_counter {
  width: 99%;
  min-height: 170px;
  height: 170px;
  overflow-y: auto;
}

.vc_license-activation-notice {
  display: none;
}

/*# sourceMappingURL=admin.css.map*/